[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
yapf = "*"
flake8 = "*"
ipython = {extras = ["notebook"],version = "*"}

[packages]
django = "*"
gunicorn = "*"
mysqlclient = "*"
django-extensions = "*"
django-cors-headers = "*"
django-filter = "*"
graphene = "*"
graphene-django = "*"
qrcode = {extras = ["pil"],version = "*"}
graphene-file-upload = "*"
ujson = "*"
numpy = "*"
torch = "*"
torchvision = "*"
pillow = "==6.2.1"
celery = "*"
django-celery-results = "*"
websockets = "*"
asgiref = "*"
channels = "*"
graphene-subscriptions = "*"
